<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Group</title>
    <link rel="stylesheet" href="chats.css">
    <script src="chats.js" defer></script>
</head>
<body>
    <div class="group-list">
        <h2>Groups</h2>
        <ul>
            <li><a href="#group1">Group 1</a></li>
            <li><a href="#group2">Group 2</a></li>
            <li><a href="#group3">Group 3</a></li>
        </ul>
    </div>
    
    <div class="chat-container">
        <div class="header">
          <h1>Group Chat</h1>
        </div>
        <div class="chat-area">
          <div id ="chatbox" class="chat-messages">
            <!-- Messages will be appended here dynamically using JavaScript -->
          </div>
        </div>
        <div class="chat-input">
          <form>
            <input type="text" id="message" placeholder="Type your message here...">
            <button id ="sendbtn" type="submit">Send</button>
          </form>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    
</body>
</html>