<!DOCTYPE html>
<html>
<head>
	<title>Sign Up for Chat App</title>
	<link rel="stylesheet" href="signup.css">
</head>
<body>
	<h1>Sign Up for Chat App</h1>
	<form>
		<label for="name">Name:</label>
		<input type="text" id="name" name="name"><br><br>
		
		<label for="email">Email:</label>
		<input type="email" id="email" name="email"><br><br>
		
		<label for="phone">Phone Number:</label>
		<input type="tel" id="phone" name="phone"><br><br>
		
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		
		<input type="submit" value="Sign Up">
	</form>
</body>
</html>
